lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

node_modules
yarn-error.log

.history

junit.xml

/packages/*/bundles

/packages/*/lib/*
coverage
tsconfig.tsbuildinfo
/packages/*/docs/*
.next
packages/csm-ui/report.20200824.162308.26700.0.001.json
packages/csm-ui/.ssl/server.pem
